*.suo
ScheduledJobs.App.Core/bin
ScheduledJobs.App.Core/obj
ScheduledJobs.Core/obj/Debug
ScheduledJobs.Core/bin
/ScheduledJobs.Core/obj
/.vs/ScheduledWithQuartz/DesignTimeBuild
/.vs/ScheduledWithQuartz/FileContentIndex
/ScheduledJobs.App.ImpExample/bin/Debug/net7.0
/ScheduledJobs.App.ImpExample/obj
ScheduledJobs.Data/bin
ScheduledJobs.Data/obj
ScheduledJobs.Models/bin
ScheduledJobs.Models/obj
/ScheduledJobs.App.MWImpExample/bin/Debug/net7.0
/ScheduledJobs.App.MWImpExample/obj
